.dataFields {
  border: 5px solid rgb(0, 0, 0);
  width: 40%;
  padding: 20px;
  margin: auto;
  margin-top: 40px;
  background-color: rgb(255, 246, 232);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header {
  font-size: 20px;
  text-align: center;
}
.mainTextInput {
  margin-top: 10px;
  border: 1px solid lightgray;
  width: 80%;
  padding: 10px 20px 10px 20px;
}
.mainTextInput:focus {
  outline: none;
}
.container {
  background-color: rgb(232, 255, 246);
  min-height: 100vh;
  padding-top: 20px;
  min-height: 100vh;
}
.additionalTextInput {
  margin-top: 10px;
  border: 1px solid lightgray;
  width: 80%;
  padding: 10px 20px 5px 20px;
  height: 120px;
  resize: none;
}
.additionalTextInput:focus {
  outline: none;
}
.SbmtBtn {
  background-color: rgb(246, 232, 255);
  border: none;
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.3s all;
}
.SbmtBtn:hover {
  background-color: rgb(243, 224, 255);
  cursor: pointer;
  transform: scale(1.03);
}
.selector {
  margin-top: 20px;
  background-color: #ffffff; /* Цвет фона */
  color: #000; /* Цвет текста */
  border: 1px solid #ddd; /* Цвет и толщина границы */
  border-radius: 4px; /* Скругление углов */
  padding: 10px; /* Внутренние отступы */
  font-size: 16px; /* Размер шрифта */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
  transition: border-color 0.3s, box-shadow 0.3s; /* Переход при изменении */
}

.selector:focus {
  border-color: #007bff; /* Цвет границы при фокусе */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25); /* Тень при фокусе */
  outline: none; /* Убираем стандартный контур при фокусе */
}

.backBtn {
  margin-left: 100px;
}
@media screen and (max-width: 1000px) {
  .dataFields {
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  .backBtn {
    display: none;
  }
}
