.container {
  background-color: rgb(232, 255, 246);
  min-height: 100vh;
}
.header {
  margin-top: 50px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
.mapper {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}
