.container {
  min-height: 100vh;
  background-color: rgb(232, 255, 246);
  width: 100%;
}
.content {
  display: flex;
  justify-content: center;
}
.square {
  width: 600px;
  height: 600px;
  border: 2px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  word-break: break-all;
  text-align: center;
  padding: 20px 20px;
}
.backBtn {
  margin-top: 20px;
  margin-left: 100px;
}
.header {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.allInfo {
  display: flex;
  width: 1000px;
  margin: auto;
  margin-top: 10px;
  justify-content: center;
  margin-bottom: 80px;
  min-height: 100vh;
}
.squareInfo {
  width: 400px;
  height: 200px;
  color: black;
  background-color: white;
  border: 2px solid green;
  margin-left: 30px;
}
.squareInfoContent {
  padding: 10px 15px;
}
.squareInfoHeader {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.mainText {
  font-size: 18px;
}
